flows/Send_User_Tracking_Information.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get Object Name</description>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>GetObjectName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Page_Tracking_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PageName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Check if Record ID exists (User is on an record detail page or on a custom community page)</description>
        <name>Check_if_Record_ID_exists</name>
        <label>Check if Record ID exists</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>ScreenTitle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record ID Does Not Exist ( Custom Community Page)</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Object_Name</targetReference>
            </connector>
            <label>Record ID Exists (Record Detail Page)</label>
        </rules>
    </decisions>
    <description>Send User Tracking Information</description>
    <environments>Default</environments>
    <formulas>
        <description>GetObjectType</description>
        <name>GetObjectType</name>
        <dataType>String</dataType>
        <expression>left({!recordId},3)</expression>
    </formulas>
    <interviewLabel>Send Tracking Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send User Tracking Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Page Tracking Record</description>
        <name>Create_Page_Tracking_Record</name>
        <label>Create Page Tracking Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>HiddenScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Tracking_Page__c</field>
            <value>
                <elementReference>PageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tracking_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User_Page_Track__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>HiddenScreen</name>
        <label>HiddenScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenTitle</name>
        <label>GetPageName</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CommunityUserTrack</name>
            <extensionName>c:communityUserTrack</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Record_ID_exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>PageName</description>
        <name>PageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
