flows/User_Page_Track_Create_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Set the User Page Track fields</description>
        <name>Set_the_User_Page_Track_fields</name>
        <label>Set the User Page Track fields</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>UserPageTrackObj.Tracking_Page__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserPageTrackObj.Tracking_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackingDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserPageTrackObj.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_User_Page_Track_record</targetReference>
        </connector>
    </assignments>
    <description>User Page Track - Create Record</description>
    <environments>Default</environments>
    <interviewLabel>User Page Track - Create Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Page Track - Create Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create User Page Track record</description>
        <name>Create_User_Page_Track_record</name>
        <label>Create User Page Track record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>UserPageTrackObj</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_the_User_Page_Track_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>PageName</description>
        <name>PageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TrackingDateTime</description>
        <name>TrackingDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UserId</description>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>UserPageTrackObj</description>
        <name>UserPageTrackObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User_Page_Track__c</objectType>
    </variables>
</Flow>
